.header {
    box-shadow: 0 0 2px 0 var(--bg-secondary-color);
    background-color:rgb(29, 1, 54);
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    color: rgb(22, 201, 22);
}